In [58]:
import yfinance as yf
import pandas as pd

In [50]:
DJI = yf.Ticker("^DJI")
print(DJI)

yfinance.Ticker object <^DJI>

In [11]:
DJI.info

{'exchange': 'NMS',
 'quoteType': 'ECNQUOTE',
 'symbol': 'DJI',
 'underlyingSymbol': 'DJI',
 'firstTradeDateEpochUtc': 138600,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '153d9513-85c5-3dca-8deb-46430d4c73e2',
 'gmtOffSetMilliseconds': -14400000,
 'maxAge': 86400,
 'trailingPegRatio': None}

In [51]:
DJI.history(start="2016-01-01", end="2024-01-30")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04 00:00:00-05:00,17405.480469,17405.480469,16957.630859,17148.939453,148060000,0.0,0.0
2016-01-05 00:00:00-05:00,17147.500000,17195.839844,17038.609375,17158.660156,105750000,0.0,0.0
2016-01-06 00:00:00-05:00,17154.830078,17154.830078,16817.619141,16906.509766,120250000,0.0,0.0
2016-01-07 00:00:00-05:00,16888.359375,16888.359375,16463.630859,16514.099609,176240000,0.0,0.0
2016-01-08 00:00:00-05:00,16519.169922,16651.890625,16314.570312,16346.450195,141850000,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-23 00:00:00-05:00,37959.789062,37980.730469,37804.988281,37905.449219,334110000,0.0,0.0
2024-01-24 00:00:00-05:00,37975.371094,38064.218750,37795.710938,37806.390625,336090000,0.0,0.0
2024-01-25 00:00:00-05:00,37862.570312,38057.531250,37796.468750,38049.128906,402970000,0.0,0.0
2024-01-26 00:00:00-05:00,38006.679688,38215.308594,37997.769531,38109.429688,387000000,0.0,0.0
2024-01-29 00:00:00-05:00,38115.828125,38343.929688,38061.171875,38333.449219,312480000,0.0,0.0

In [55]:
tsla = yf.Ticker("TSLA")
tsla.history(period = 'max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-12 00:00:00-04:00,172.339996,173.809998,170.360001,171.050003,64506600,0.0,0.0
2024-04-15 00:00:00-04:00,170.240005,170.690002,161.380005,161.479996,100245300,0.0,0.0
2024-04-16 00:00:00-04:00,156.740005,158.190002,153.750000,157.110001,97000000,0.0,0.0
2024-04-17 00:00:00-04:00,157.639999,158.330002,153.779999,155.449997,82253100,0.0,0.0
2024-04-18 00:00:00-04:00,151.289993,152.199997,148.699997,150.410004,64448385,0.0,0.0

In [38]:
oil = yf.Ticker("CL=F")
oil.history(period = 'max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-08-23 00:00:00-04:00,31.950001,32.799999,31.950001,32.049999,79385,0.0,0.0
2000-08-24 00:00:00-04:00,31.900000,32.240002,31.400000,31.629999,72978,0.0,0.0
2000-08-25 00:00:00-04:00,31.700001,32.099998,31.320000,32.049999,44601,0.0,0.0
2000-08-28 00:00:00-04:00,32.040001,32.919998,31.860001,32.869999,46770,0.0,0.0
2000-08-29 00:00:00-04:00,32.820000,33.029999,32.560001,32.720001,49131,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-12 00:00:00-04:00,85.599998,87.669998,85.239998,85.660004,369958,0.0,0.0
2024-04-15 00:00:00-04:00,85.930000,86.110001,84.050003,85.410004,343894,0.0,0.0
2024-04-16 00:00:00-04:00,85.699997,86.180000,84.750000,85.360001,241343,0.0,0.0
2024-04-17 00:00:00-04:00,85.360001,85.510002,82.550003,82.690002,241343,0.0,0.0
2024-04-18 00:00:00-04:00,82.790001,83.470001,81.559998,83.209999,50168,0.0,0.0

In [60]:
vix = yf.Ticker("^VIX")
vix.history(period = 'max')

pandas.core.frame.DataFrame